<!DOCTYPE html>
<html>
<head>
    <title>Add a Project</title>
</head>
<body>
<form action="/project-added" method="POST">
      Complete the form below to add a project.<br>
      <label>Project Name: 
          <input type="text" name="title">
      </label><br>
      <label>Description: 
          <input type="textarea" name="description">
      </label><br>
      <label>Max Grade: 
          <input type="number" name="max_grade">
      </label><br>
      <input type="submit" value="Add Project">
</body>
</html>